<mat-card class="food-data-card" *ngIf="foodDataArr$ | async as foodDataArr">
    <mat-card-header class="food-data-header">
      <mat-card-title>{{cardTitle}}</mat-card-title>
      <mat-card-subtitle>{{cardSubTitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="food-data-chart">
        <app-cal-chart #appCalChart [data]="foodDataArr"></app-cal-chart>
      </div>
    </mat-card-content>
    <mat-card-content>
      <mat-list role="list" >
        <mat-list-item role="listitem" *ngFor="let food of foodDataArr">
          <span [ngClass]='food.typeColor'>{{ food.typeName + ': ' + food.calories }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <div class="cal-input-container" *ngIf="dateType==='Daily'">
        <form [formGroup]="caloriesForm" (submit)="submit()">
          <mat-form-field appearance="fill">
            <mat-label>Select Type</mat-label>
            <mat-select formControlName="typeName">
              <mat-option *ngFor="let typeName of foodTypeName" value="{{typeName}}">{{ typeName }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter calories</mat-label>
            <input matInput formControlName="calories" type="number">
          </mat-form-field>
          <button *ngIf="!isLoading; else loading" mat-raised-button color="primary" type="submit">
            <span>Save</span>
          </button>
  
        </form>
      </div>
    </mat-card-actions>
  </mat-card>

  <ng-template #loading>
    <mat-progress-spinner 
    class="spinner" 
    mode="indeterminate" 
    diameter="30">
    </mat-progress-spinner>
  </ng-template>